<a href="<%= ext_image_url image %>">
  <%= ext_image image %>
</a>

<a href="/gallery/">
  Back to gallery
</a>

<%# <a href="/gallery/<%= parent.downcase %1>"> %>
<%#   Back to <%= parent %1> %>
<%# </a> %>
