<%
  nav_info = {
    parent_path: parent_path,
    count: count,
    index: index
  }
%>
<%= partial 'gallery_nav', locals: nav_info %>

<a href="<%= ext_image_url image %>" target="_blank">
  <%= ext_image image %>
</a>

<%= partial 'gallery_nav', locals: nav_info %>
