@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Mono);

html {
  font: 300 15px/1.6 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a,
p {
  line-height: 1.6em;
}

$link-colour: #888;
$link-colour-lt: lighten($link-colour, 7);

a {
  color: $link-colour;
  font-weight: 400;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $link-colour;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.content {
  a:hover {
    color: $link-colour-lt;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 200;
  }
}
